﻿@model List<Example.Models.Component.PressRelease>

<!-- Features Grid Section -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@ViewBag.Heading</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            @foreach (var press in Model)
            {
                <div class="col-sm-4 feature-item">
                    <i class="fa fa-github"></i>                
                    @press.Heading
                </div>
            }
        </div>
    </div>
</section>