﻿@model Example.Models.Component.CTA


<section class="success" id="gettingstarted">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@Model.Heading</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                @Model.Text
            </div>
            @if (Model.Links != null && Model.Links.Count > 0)
            {
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <ul class="list-inline">
                    @foreach (var link in Model.Links)
                    {
                    <li>
                        <a href="@link.ResolvedUrl" target="_blank" class="btn btn-lg btn-outline">
                            @link.LinkText
                        </a>
                    </li>
                    }
                </ul>
            </div>
            }
        </div>
    </div>
</section>
