﻿@model Example.Models.Component.CTA


<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <i class="logo-dd4t"></i>
                    <h1 class="name">@Model.Heading</h1>
                    <hr class="star-light">

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            @Model.Text
                        </div>
                    </div>
                    <p>
                        <a href="#whatsnewModal" class="btn btn-lg btn-outline" data-toggle="modal">What's new?</a>
                        @foreach (var link in Model.Links)
                        {
                            <a href="@link.ResolvedUrl" target="_blank" class="btn btn-lg btn-outline" data-toggle="modal">@link.LinkText</a>
                        }
                    </p>

                    <div class="col-lg-12">
                        <br />
                        <br />
                        @if (!string.IsNullOrEmpty(Model.Quote))
                        {
                            <blockquote class="featured-quote">
                                <p>&quot;@Model.Quote&quot;</p>
                                <footer>@Model.QuoteAuthor</footer>
                            </blockquote>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
