﻿@model Example.Models.Page.Generic
@using Example.Models.Sitemap


<!DOCTYPE html>
<html lang="en" xmlns:og="http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Chrome & Firefox OS -->
    <meta name="theme-color" content="#13643e">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#13643e">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#13643e">

    

    <meta name="robots" content="index,follow" />
    <meta name="description" content="DD4T enables the use of MVC frameworks (through MVC based interfaces) in Java and .NET by translating SDL Tridion components to MVC components." />

    <meta name="language" content="en" />

    <title>@Model.PageTitle</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/freelancer.css" rel="stylesheet">
    <link href="/assets/css/dd4t.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"

	<!-- Favicon -->
    <link href="/favicon.png" rel="icon" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">@ViewBag.Labels.GetLabel("organization")</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    @foreach (NavigationItem item in ViewBag.Sitemap.Root.ChildItems)
                    {
                        <li class="page-scroll">
                            <a href="@item.Url">@item.Title</a>
                        </li>
                    }

                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#gettingstarted">Getting started</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#features">Features</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#download">Download</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contribute">Contribute</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    @RenderBody()

   

    <section id="contribute">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contribute</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>DD4T is built by the community. So, we depend on people's own time to help develop new features and fix bugs. You can help too!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contributeModal" class="btn btn-lg btn-success" data-toggle="modal">
                        How to contribute
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Blogs</h3>
                        <p>Lot's of people are blogging about DD4T. Find out who.</p>
                        <a href="#blogsModal" class="btn btn-lg btn-outline" data-toggle="modal">
                            Read more
                        </a>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://dd4t.slack.com" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-slack"></i></a>
                            </li>
                            <li>
                                <a href="http://tridion.stackexchange.com/?tags=dd4t" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-exchange"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/dd4t" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Community</h3>
                        <p>DD4T is a framework built by the community for the community. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="@ViewBag.Labels.GetLabel("copyrightLink")">@ViewBag.Labels.GetLabel("copyrightMessage")</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <div class="fullscreen-modal modal fade" id="whatsnewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <h2>What's new</h2>
                                    <hr class="star-primary">
                                    <p>DD4T 2.0 has a couple of new features, bugfixes and changes.</p>
                                </div>
                                <div class="col-lg-4 col-lg-offset-2">
                                    <ul class="feature-list">
                                        <li>Smaller data footprint</li>
                                        <li>Improved caching</li>
                                        <li>View models</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="feature-list">
                                        <li>New distribution model</li>
                                        <li>Dependency injection</li>
                                        <li>REST support</li>
                                    </ul>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <p>If you have a feature request for our next version, please submit it on <a href="https://github.com/dd4t/">GitHub</a> or discuss it on <a href="https://dd4t.slack.com">Slack</a>.</p>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fullscreen-modal modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <h2>About DD4T</h2>
                                    <hr class="star-primary">
                                    <p>Something more about DD4T</p>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fullscreen-modal modal fade" id="blogsModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <h2>DD4T blogs</h2>
                                    <hr class="star-primary">
                                    <p>There are a few people blogging about DD4T. Below is a complete list in alphabetical order.</p>
                                    <h3>In the spotlight</h3>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2">
                                    <ul>
                                        <li><a href="http://thois.org/moving-from-templating-to-software-development/" target="_blank">Moving from templating to software development</a></li>
                                        <li><a href="http://blog.trivident.com/2014/12/smarttarget-2014-sp1-and-dd4t-in-a-java-environment/" target="_blank">SmartTarget 2014 SP1 and DD4T in a Java environment</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <h3>List</h3>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2">
                                    <ul>
                                        <li><a href="http://thois.org/" target="_blank">Thois</a></li>
                                        <li><a href="http://blog.trivident.com/" target="_blank">Trivident</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <p>If your blog is not on here, please leave a mention on <a href="https://dd4t.slack.com">Slack</a> and we'll add it.</p>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fullscreen-modal modal fade" id="contributeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <h2>How to contribute</h2>
                                    <hr class="star-primary">
                                    <p>You can contribute in many ways:</p>
                                    <ul>
                                        <li><i class="fa fa-check"></i>Submit an issue or request a new feature on <a href="https://github.com/dd4t/">GitHub</a></li>
                                        <li><i class="fa fa-check"></i>Fork our code on <a href="https://github.com/dd4t/">GitHub</a></li>
                                        <li><i class="fa fa-check"></i>Check our issue/feature lists on GitHub</li>
                                        <li><i class="fa fa-check"></i>Develop a new feature</li>
                                        <li><i class="fa fa-check"></i>Submit a pull request</li>
                                        <li><i class="fa fa-check"></i>Join the discussion on <a href="https://dd4t.slack.com">Slack</a></li>
                                        <li><i class="fa fa-check"></i>Blog about it</li>
                                    </ul>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/assets/js/classie.js"></script>
    <script src="/assets/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/assets/js/jqBootstrapValidation.js"></script>
    <script src="/assets/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/freelancer.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66971120-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
