/* LOGO */
@font-face {
    font-family: 'DD4T';
    src:url('../fonts/DD4T.eot?-o2jgdw');
    src:url('../fonts/DD4T.eot?#iefix-o2jgdw') format('embedded-opentype'),
        url('../fonts/DD4T.ttf?-o2jgdw') format('truetype'),
        url('../fonts/DD4T.woff?-o2jgdw') format('woff'),
        url('../fonts/DD4T.svg?-o2jgdw#DD4T') format('svg');
    font-weight: normal;
    font-style: normal;
}

i.logo-dd4t {
    font-size: 250px;
    font-family: 'DD4T';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i.logo-dd4t:before {
    content: "\e600";
}

/* COLORS */

body {
    color: #13643E;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #1D965D;
}

.navbar-default {
    background-color: #13643E;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #1D965D;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #1D965D;
}

.navbar-default .navbar-toggle {
    border-color: #1D965D;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #1D965D;
}

hr.star-light:after {
    background-color: #1D965D;
}

hr.star-primary {
    border-color: #1D965D;
}

hr.star-primary:after {
    color: #1D965D;
}

header {
    background: #1D965D;
}

section.success {
    background: #1D965D;
}

.btn-primary {
    background-color: #13643E;
    border-color: #13643E;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #1D965D;
    border-color: #1D965D;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    color: #13643E;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #13643E;
}

section.success .btn-outline{
    color: #FFFFFF;
}
section.success .btn-outline:hover,
section.success .btn-outline:focus,
section.success .btn-outline:active,
section.success .btn-outline.active {
    color: #13643E;
}

.btn-success {
    background-color: #1D965D;
    border-color: #1D965D;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-color: #13643E;
}

.floating-label-form-group-with-focus label {
    color: #13643E;
}

footer .footer-above {
    background-color: #1D965D;
}

footer .footer-below {
    background-color: #13643E;
}

footer .footer-below a,
footer .footer-below a:hover,
footer .footer-below a:focus,
footer .footer-below a:active,
footer .footer-below a.active {
    color: #1D965D;
}

/* CONTENT */

.feature-item{
	text-align: center;
	padding: 1em;
}

.feature-item i.fa{
	display: block;
	font-size: 48px;
	margin: 0 0 0.5em 0;
}

.fullscreen-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fullscreen-modal .modal-content .row{
	text-align: left;
}

.fullscreen-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.fullscreen-modal .modal-content img {
    margin-bottom: 30px;
}

.fullscreen-modal .modal-content .item-details {
    margin: 30px 0;
}

.fullscreen-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.fullscreen-modal .close-modal:hover {
    opacity: .3;
}

.fullscreen-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #13643E;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fullscreen-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #13643E;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.fullscreen-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

#contributeModal ul li{
    text-align: left;
    margin: 0.5em;
    list-style-type: none;
}

#contributeModal ul li .fa{
    margin-right: 0.5em;
}

blockquote.featured-quote {
    border: none;
}
