﻿@model List<Example.Models.Component.Feature>

    <!-- Features Grid Section -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>@ViewBag.Heading</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
        @foreach (var feature in Model)
        {
            <div class="col-sm-4 feature-item">
                <i class="fa fa-github"></i>
                <img src="@feature.SmallImage"/><br/>
                @feature.Name
            </div>
        }
        </div>
    </div>
</section>
